.container {
	width: 100vw;
	height: 100vh;
	background: url("../assets/background.jpg") no-repeat center center fixed;
	background-size: cover;
	display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
	background: url(../assets/banner.png) no-repeat;
    background-size: contain;
    min-height: 7vmin;
    display: flex;
    align-items: center;
	justify-content: center;
	position: absolute;
    z-index: 1;
    top: 0;
    height: 7vmin;
    width: inherit;
}
.banner p {
	padding-bottom: 1vmin;
}

.bannerRoom {
    height: fit-content;
    background-position: center;
    top: -6vmin;
}

.bannerRoom p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 60%;
    text-align: center;
}

.roomMenu {
    background: url("../assets/back.png") no-repeat center center fixed;
    background-size: cover;
    width: 50%;
    min-height: 70%;
}

.roomMenu button {
    padding: 10px;
    margin: 1em;
    font-weight: bolder;
    width: 30%;
    background: rgba(0,0,0);
    color: rgba(240, 234, 180);
    text-decoration: none;
    font-family: 'Just Another Hand', cursive;
    font-size: 20px;
    border: none;
    text-transform: uppercase;
}

.roomMenu button:hover {
	box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.6);
}