#wilson {
	width: 70%;
}

#bubble {
	background: url("../assets/bubble.png") no-repeat center;
	background-size: contain;
	height: 200px;
	width: 100%;
	font-size: 20px;
    color: rgb(16 8 6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.question {
	height: 30%;
    width: auto;
}


#wilsontalk {
	position: absolute;
	width: 70%;
	animation: hide 3s;
	opacity: 0;
}

@keyframes hide {
	0% {
	  opacity: 1;
	}
	75% {
	  opacity: 1;
	}
  	100% {
		opacity: 0;
	}
  }

